.App {
  background-color: #282c34;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.Room {
  background: url('background.JPG') center center no-repeat;
  background-size: contain;
}