.App {
  background-color: #282c34;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.forward-door img {
  height: 80%;
}
.left-door img {
  position: absolute;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.right-door img {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}

.Player img {
  max-height: 100%;
}
.FloorItem {
  z-index: 1;
  width: 50%;
  text-align: center;
  position: relative;
}
.FloorItem img {
  position: absolute;
  width: 15%;
  top: -25%;
  left: 38%;
}
.UniqueItem { 
  display: flex;
  align-items: center;
}
.UniqueItem img {
  width: 100%;
}
.walls .InteractableItem {
  width: 7%;
  background: yellow;
  z-index: 1;
}
.walls .InteractableItem.left-wall {
  z-index: 2;
}
.walls .InteractableItem > div > img {
  position: absolute;
  height: 10%;
}