.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Room {
  opacity: 0;
  transition: opacity 1.5s;
}
.fade-in {
  opacity: 1;
}